button {
  font-size: 25px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: cyan;
  border: 2px solid black;
  cursor: pointer;
}

button.rest {
  background-color: pink;
}

.app {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100svh;
}

.app > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}